<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Websiteee</title>
    </head>
    <body>
    {{> header}}
        <p>Some text here</p>
        <a href="/">home</a>
        <a href="/main">main</a>
    </body>
{{> footer}}
</html>